/* .galleryLink {
	display: block;
}

.infoList {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.itemTitle {
	font-weight: 700;
}

.css.infoItem {
	font-family: inherit;
}

.itemContent {
	display: flex;
	justify-content: center;
} */
